<%if (posts.length > 0) { %> <%posts.forEach((post) => { %>
<div class="post-container border-gray-200 py-5 px-5 mb-10 rounded-md border-1">
  <div class="post-top mb-10 flex justify-between">
    <p class="font-bold"><%=approved ? fullname : "???"%></p>
    <p class="text-xs"><%=approved ? post.created_at : "???"%></p>
  </div>
  <div class="post-body mb-5">
    <p class="pr-15"><%=post.message_content%></p>
  </div>
  <%if (isAdmin) { %>
  <form action="/posts/delete/<%=post.message_id%>" method="POST">
    <button
      type="submit"
      class="rounded-md border-slate-200 py-1 px-4 hover:bg-red-200 border hover:cursor-pointer"
    >
      Delete Post
    </button>
  </form>
  <%}%>
</div>
<%})%> <%}%>
