<%if (posts.length > 0) { %> <%posts.forEach((post) => { %>
<hr />
<div class="post-container">
  <div class="post-top">
    <p><%=approved ? user.fullname : "???"%></p>
    <p><%=approved ? post.created_at : "???"%></p>
  </div>
  <div class="post-body">
    <p><%=post.message_content%></p>
  </div>
  <%if (isAdmin) { %>
  <form action="/delete/<%=post.message_id%>" method="POST">
    <button type="submit">Delete Post</button>
  </form>
  <%}%>
</div>
<hr />
<%})%> <%}%>
