<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <section>
      <h1 class="text-5xl flex justify-center mt-15"><%=title%></h1>
      <div class="flex justify-center">
        <a
          href="/login"
          class="text-3xl inline mt-50 border to-blue-300 p-2.5 rounded-md hover:bg-blue-400 hover:text-white"
          >Login</a
        >
      </div>
    </section>
  </body>
</html>

<!-- 
https://github.com/tailwindlabs/tailwindcss-intellisense/issues/1153#issuecomment-2635462093
-->
