<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="ml-50 mr-50">
    <header>
      <h1 class="text-center mt-5 mb-10 text-3xl"><%=title%></h1>
      <p class="mr-20 underline text-gray-900 mb-5">Explore anything:</p>
      <a
        href="/profile"
        class="border-b-1 rounded-sm py-2 px-15 bg-blue-500 text-white"
        >My Profile</a
      >
    </header>
  </body>
</html>
