<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="ml-50 mr-50">
    <header>
      <h1 class="mt-5 mb-10 text-3xl text-center"><%=title%></h1>
      <p class="mr-20 text-gray-900 mb-5 underline">Explore anything:</p>
      <div class="flex flex-col">
        <a
          href="/profile"
          class="py-2 px-15 mt-2 rounded-md hover:bg-blue-400 hover:text-white max-w-50 border-slate-200 hover:border-white border-2"
          >My Profile</a
        >
        <a
          href="/posts"
          class="py-2 px-15 mt-2 rounded-md hover:bg-blue-400 hover:text-white max-w-50 border-slate-200 hover:border-white border-2"
          >Posts</a
        >
      </div>
    </header>
  </body>
</html>
