<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <hr />
    <%-include("../partials/error-display")%>
    <form action="/register" method="POST">
      <div class="f-name">
        <label for="firstName">First Name: </label>
        <input
          type="text"
          name="firstName"
          id="first-name"
          required
          minlength="2"
          maxlength="35"
        />
      </div>
      <div class="l-name">
        <label for="lastName">Last Name: </label>
        <input
          type="text"
          name="lastName"
          id="last-name"
          required
          minlength="2"
          maxlength="35"
        />
      </div>
      <div class="u-name">
        <label for="username">Username: </label>
        <input
          type="text"
          name="username"
          id="username"
          required
          minlength="3"
          maxlength="70"
        />
      </div>
      <div class="p-container">
        <label for="password">Password:</label>
        <input
          type="password"
          minlength="5"
          maxlength="60"
          name="password"
          id="password"
          required
        />
      </div>
      <div class="c-p-container">
        <label for="cPassword">Confirm Password:</label>
        <input
          type="password"
          minlength="5"
          maxlength="60"
          name="cPassword"
          id="c-password"
          required
        />
      </div>
      <button type="submit">Register</button>
    </form>
    <hr />
    <p>Already have an account?</p>
    <a href="/login">Log In!</a>
  </body>
</html>
